:root{--textcolor:#114c65;--linkcolor:#28b7f2;--color1:#7de1e0;--main-font:'Open Sans',sans-serif}
body{font-family:var(--main-font);color: #fff;}
img{max-width:100%}
.bg{background:url(../imgs/malbg.png);position:relative}
.content{max-width:628px;text-align:center;padding-bottom:60px;min-height:100vh}
.popup-title{background:#fff;width:290px;text-transform:uppercase;padding:6px;border-radius:3px;border:1px solid #e5e5e5;font-size:10px;font-weight:700;box-shadow:-1px -1px 13px #b9b9b9;color:#2f1a27;cursor:pointer;transition:all .5s ease;text-align:center}
.popup{position:fixed;bottom:20px;z-index:9}
.popup-cont{box-shadow:-1px -1px 13px #b9b9b9;background:#fff;width:460px;height:auto;bottom:1px;position:absolute;z-index:9;display:none}
.popup h2{font-size:13px;font-weight:700;color:#331830;padding:0 0 8px;margin-top:0;background: transparent;-webkit-text-fill-color: #000;}
.txt-wrap{width:100%;position:relative}
.point{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;margin-bottom:11px;-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto}
.point .left{min-width:70px;width:140px;margin-right:15px}
.point .right{width:100%;-ms-flex:0 1 auto;flex:0 1 auto}
.point p{font-size:9px;font-weight:400;color:#26262a;margin-bottom:2px}
.point .listed{padding:10px 0 0 35px}
.popup .wrp{padding:10px;background-color:#fff;border:1px solid #c5c5c5;position:relative;max-width:100%}
.popup .close{position:absolute;right:9px;top:8px;opacity:.5}
.popup-title:hover{background:#dcdcdc}
.pick-btn:hover{background:#37f5f3;color:#fff}
.popup-outer{float:left;width:100%;height:50px}
::-webkit-input-placeholder{color:#f0d055}
::-moz-placeholder{color:#f0d055}
:-ms-input-placeholder{color:#f0d055}
:-moz-placeholder{color:#f0d055a}
h1{width:554px;margin:auto;font-size:28px;margin-top:35px;font-weight:400;letter-spacing:1.5px;line-height:50px;max-width:100%;font-family:'Oswald',sans-serif;color:#fff;text-transform:uppercase}

#membersPage h1 {
    color: #c39534;
    font-size: 27px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-family: 'Assistant', sans-serif;
    margin-top: 36px;
    text-align: center;
    width: auto;
}
h2{width:440px;font-family:var(--main-font);margin:auto;font-size:39px;margin-top:0;max-width:100%;background:-webkit-linear-gradient(#fddc59,#ffc500);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-family:'Playfair Display',serif;text-transform:uppercase;font-weight:900}
.container{max-width:100%}
h3{font-size:24px;margin-top:10px}
#myVideo{position:fixed;right:0;bottom:0;min-width:100%;min-height:100%;width:auto;height:auto;top: -14px;left: 0;}
.desc .title{font-size:18px;margin-bottom:4px;font-weight:700}
.desc p{font-size:14px;margin-bottom:36px}
.desc{padding-bottom:71px}
.slogan{color:#fff;font-size:16px;text-transform:capitalize;font-weight:700;width:350px;margin:auto;margin-top:24px}
.form-cont{padding:7px;border:4px solid #fff;width:362px;margin:auto;margin-top:10px}
.form p{font-size:8px;color:#000}
.terms{position:fixed;color:#fff;font-size:14px;bottom:20px;right:20px;z-index:9;}
label.form-check-label{width:calc(100% - 16px);font-size:9px;padding-left:19px;line-height:14px;font-weight:400;color: #000;}
.form-check input{margin-right:7px;margin-top:0;position:absolute;top:1px}
.form{max-width:100%;margin:auto;text-align:left;background:rgba(255,255,255,0.7);padding:30px}
.form-check{position:relative}
.note{font-size:7px;color:#000}
.free{width:280px;margin-top:10px;color:#fff;padding-top:0;text-align:center;border:0;margin-bottom:16px;border-radius:3px;background:url(../imgs/button.png);background-repeat:no-repeat;background-size:contain;height:66px;padding-left:46px}
.free .icon{width:24px;float:left;display:none}
.free .text{float:left;text-transform:uppercase;font-weight:700;padding-left:17px;margin-top:-8px;font-size:26px;word-spacing:5px;font-family:'Oswald',sans-serif}
.note:last-of-type a{display:block}
.input-cont .icon{position:absolute;left:20px;top:10px;width:18px;color:#f0d055}
.input-cont{margin:auto;margin-bottom:8px;position:relative;width:100%}
.input-cont input{width:100%;height:40px;border:2px solid #f0d055;background:#fff;text-align:left;padding-left:45px}
.selected-country .pic{width:100%;margin:auto}
a#back{color:#38b2f2;text-decoration:underline;font-size:12px;margin-top:5px;display:block;font-weight:700;cursor:pointer;display:none}
.form-title{color:#000;font-size:19px;margin-top:10px;margin-bottom:18px;font-weight:700}
.form a{color:#26b7f1}


#membersPage header>p{color: #35486b;font-size: 44px;text-align: center;height:67px;line-height: 56px;margin-top:0;font-family: 'Oswald', sans-serif;letter-spacing: 1px;}
#membersPage header,#membersPage{padding:0!important}

div#membersPage {
}
#membersPage .content{background: url(../imgs/memBg.png);padding-top: 21px;padding-bottom:80px;text-align:left;max-width:-webkit-fill-available;background-size: 180px;}
.content .container.offers{max-width: 816px;padding: 0;padding-top: 0;padding-bottom:40px;}
.offers{background: transparent;/* border:1px solid #b7b7b7; */}
#membersPage header{height: 173px;padding-bottom:15px!important;background: #f0f1f3;}
.offer .title{font-size: 22px;margin-top:12px;word-spacing: 6px;text-transform: uppercase;font-weight: bold;}
.offer .title del{color:#898989}
.buyers-number{font-size:12px;margin-top:6px}
.offer .desc{font-size: 15px;margin-top: 27px;padding-left: 4px;margin-bottom:11px;padding-bottom:0;font-family: 'Assistant', sans-serif;line-height: 18px;}
.offer button.btn.primary-btn{font-size:18px;width: 140px;background: url(../imgs/button.png);color:#fff;line-height: 21px;height: 49px;-moz-box-shadow:inset 0 8px 8px -8px #696868,inset 0 -8px 8px -8px #696868;/* -webkit-box-shadow:inset 0 8px 8px -8px #696868,inset 0 -8px 8px -8px #696868; */box-shadow:inset 0 0 8px -8px #696868,inset 0 -8px 8px -8px #696868;margin-top:5px;/* position:absolute; */bottom:11px;transition:all .5s ease;float: left;background-position: -80px -14px;border-radius: 7px;}
.offer button.btn.primary-btn:hover{/* background:#207ab9 */font-weight: bold;}
.offer{margin-bottom: 3px;padding: 21px 31px;padding-bottom:16px;height: 317px;position:relative;background: #485a7e;}
.offer-img{margin:auto;height:187px;position:relative;float: left;width: 250px;margin-top: 16px;}
.review{color:#85c1ec;font-size:10px;margin-top:2px}
.review span{letter-spacing:1px}
.has-review .buyers-number{margin-top:3px}
.has-review.offer .desc{margin-top:9px;margin-bottom:0}
.gone{position:absolute;background:#000;color:#fff;bottom:0;right:0;padding:1px 12px;letter-spacing:1px}
.offer-details {
    float: left;
    width: calc(100% - 250px);
    padding-left: 23px;
    font-family: 'Oswald', sans-serif;
}
h1 span {
    width: 64px;
    height: 2px;
    background: #c39534;
    display: inline-block;
    margin: 6px 40px;
}

.offer .sub-title {
    font-size: 17px;
    word-spacing: 2px;
    position: relative;
    padding-left: 4px;
}

.offer .sub-title:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 1px;
    background: #fff;
    top: 36px;
    left: 3px;
}

@media screen and (max-width:767px) {
.terms{width:100%;text-align:center;float:left;position:relative;left:0;right:0;}
.container .item input{height:190px}
.countries .title{font-size:16px}
.input-cont .icon{font-size:25px}
.popup-outer{height:0}
footer img{width:160px}
.countries .item{width:125px;margin-left:-2px;padding:5px}
.content{width:100%;max-width:100%;padding:0;padding-bottom:100px}
.form p{font-size:13px}
.note{font-size:12px}
.form{width:100%;padding:10px}
.form-title{font-size:21px;text-align:center}
.input-cont input{height:55px;font-size:20px}
.free{padding-top:0;padding-left:29px;width:100%;height:80px}
.free .text{font-size:28px;padding-left:60px;padding-top:4px;text-align:center}
.free .icon{width:31px}
label.form-check-label{font-size:13px}
.countries .pic{height:95px}
.countries{width:100%}
.countries .item#las{margin-left:0}
.countries .item#val{margin-right:0;margin-left:0}
.checkmark{top:170px;left:52px}
.popup{bottom:50px;left:50%;margin-left:-145px;z-index:9;position:absolute}
.popup-cont{width:96vw;left:calc(50%);margin-left:-48vw}
.point .left{margin-right:8px;width:100px}
.point p{font-size:9px}
.point{margin-bottom:5px}
.popup h2{margin-bottom:5px}
.popup .wrp{padding:14px 7px}
h1{font-size:36px;letter-spacing:0;line-height:140%}
h2{font-size:28px}
h3{font-size:22px}
.desc .title{font-size:16px}
.desc p{font-size:14px}
.desc{padding-bottom:30px}
footer:before{display:none!important}
footer .container .row>div:first-of-type,footer .container .row>div:last-of-type{display:none}
footer .container .row>div{width:100%}
footer{padding:10px 0!important;margin:0;border-top:1px solid #fff}
#membersPage header>p{height:108px;line-height:49px;font-size: 39px;}
#membersPage header{height:230px}
h1 span {
    position: absolute;
    top: 85px!important;
}
}
@media screen and (max-width:768px) {
.offers>.row{margin:0}
.form-cont{width:100%}
.slogan{max-width:90%}
.container-fluid.video-bg.bg{padding:0}

#myVideo {
    left: -860px;
    top: -149px;
}
.container.offers{text-align:center;/* overflow: hidden; */}
.offer button.btn.primary-btn{position: absolute;margin:auto;margin-top:30px;width: 250px;left: 50%;margin-left: -125px;top: 276px;}
.offer{height: auto;padding: 21px 10px;margin-bottom: 10px;float: left;position: relative;}
.form-outer{padding:0}
h1 span {
    position: absolute;
    top: 55px;
}

h1 span:first-of-type {
    left: -6px;
}

h1 span:last-of-type {
    right: -6px;
}

.offer-img {
    float: none;
    height: auto;
}

.offer-details {
    width: 100%;
    text-align: left;
    padding-top: 70px;
}
}
@media screen and (max-width:414px) {
.popup{bottom:42px}
}
@media screen and (max-width:375px) {
h2{font-size:26px}
h3{font-size:23px}
.countries .item{width:104px}
h1{font-size:28px}
.countries .pic{height:76px}
.countries .title{font-size:13px}
.container .item input{height:140%}
.form-title{font-size:17px}
.free .text{padding-left:40px;padding-top:0;margin-top:-10px;text-align:center}
}
@media screen and (max-width:320px) {
.free .text{padding-left:28px;padding-top:0;font-size:26px;text-align:center;margin-top:-20px}
}
@media screen and (min-width: 1400px) {
.form{max-width:100%;background:rgba(255,255,255,.8);padding:30px}
.form-cont{width:520px}
.form-title{font-size:26px;text-align:center;width:111%;margin-left:-5%}
.input-cont input{height:55px;font-size:19px}
.input-cont .icon{font-size:22px}
label.form-check-label{font-size:12px;line-height:16px;margin-bottom:10px}
.form p{font-size:13px}
.note{font-size:10px}
.free .text{font-size:34px;letter-spacing:1.5px;padding-left:40px;margin-top:0}
.free .icon{width:30px}
.free{height: 94px;width: 100%;}
.popup-title{font-size:13px;width:310px;height:34px}
.container-fluid.content{max-width:830px}
h1{font-size:45px;width:700px}

#membersPage h1 {
    font-size: 38px;
}
h2{font-size:49px;margin-top:10px}
.countries .item{width:310px}
.countries .pic{height:200px}
.desc .title{font-size:24px}
#membersPage header{height:215px}
#membersPage header>p{height:82px;line-height:82px;font-size:40px;margin-top:40px}
#membersPage header p{font-size: 49px;margin-top:28px;}
.content .container.offers{max-width:1000px}
.offer-img{/* max-width:100%; */height:250px;text-align:center;}

.offer{height: 340px;margin-bottom:20px;}
.offer .title{font-size: 21px;margin-bottom: 10px;}
.buyers-number{font-size:16px}
.offer .desc{font-size: 17px;line-height: 23px;}
.offer button.btn.primary-btn{font-size:24px;height:60px;width: 180px;}
.gone{font-size:20px;right:10px}
}



#thankYou h1 {
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: bolder;
}

#thankYou p {
    font-size: 24px;
    padding: 0 82px;
    line-height: 28px;
    letter-spacing: 0px;
}

#thankYou span {
    font-size: 16px;
}

#thankYou {
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: #fff;
    width: 675px;
    height: 387px;
    background: #a6dda2;
    -webkit-transform: translate(-50%,30%);
    transform: translate(-50%,30%);
    position: absolute;
    left: 50%;
    padding: 46px;
    display: none;
    z-index: 10;
}
#loading {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 9px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  .spinner {
    margin-top: 37px;
    margin-bottom: 2px;
}
.members-popup {
    height: 0;
}

.terms.members-terms {
    color: #495977;
    height: 0;
    bottom: 30px;
}

@media screen and (max-width:768px){
    #thankYou {
        max-width: 95%;
        padding: 20px 10px;
    }
    
    #thankYou p {
        padding: 0;
    }
}